!!!
%html
  %head
    %title GFM Notes
    %link{rel: 'stylesheet', href: '/stylesheets/reset.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: '/stylesheets/github.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css', type: 'text/css'}
  %body
    = yield 
