!!!
%html
  %head
    %title= @notebook.name
  %body
    %h1 Notes in #{@notebook.name}
    %ul#notes
      - @notebook.notes.each do |note|
        %li
          %a{href: "/notebooks/#{@notebook.name}/#{note.name}"}= note.name
